<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/book.css">
    <title>CheloRide</title>
</head>
<body>
    <%- include('./navbar.ejs') %>
    <div class="container" style="align-items: center; justify-content: center;">
        <h2 class="title" style="text-align:center; font-family: Montserrat; font-size: 100px"><%= t %></h2>
        <h3 class="sub"><%= sub %>, try Booking again</h3>
        <a href="/" class="rdt">Book Car</a>
    </div>
    <script>
        
    </script>
</body>
</html>