<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./meta.ejs') %>
    <link rel="stylesheet" href="../static/css/book.css">
    <link rel="stylesheet" href="../static/css/theme.css">

</head>
<body>
    <%- include('./navbar.ejs') %>
    <div class="container" style="align-items: center; justify-content: center;">
        <h2 class="title tit" style="text-align:center; font-family: Montserrat;"><%= t %></h2>
        <h3 class="sub"><%= sub %></h3>
        <a href="/" class="rdt">Book Car</a>
    </div>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N6RF5QPQ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

</body>
</html>