<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./meta.ejs') %>
    <link rel="stylesheet" href="../static/css/book.css">
</head>
<body>
    <%- include('./navbar.ejs') %>
    <div class="container" style="align-items: center; justify-content: center;">
        <h2 class="title" style="text-align:center; font-family: Montserrat; font-size: 100px"><%= t %></h2>
        <h3 class="sub"><%= sub %>, try Booking again</h3>
        <a href="/" class="rdt">Book Car</a>
    </div>
    <script>
        
    </script>
</body>
</html>