<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheloRide</title>
</head>
<body>
    <div class="navbar">
        <a class="logo" href="/">Chelo Ride</a>
        <div class="links">
            <a href="/" class="link">Home</a>
            <a href="/adminpanel/" class="link">Cars</a>
            <a href="/adminpanel/bookings" class="link">Bookings</a>
            <a href="/adminpanel/users" class="link">Users</a>
            <a href="/adminpanel/trash" class="link">Trash Bin</a>
        </div>
        <div class="links">
            <a id="auth" class="link">Logout</a>
        </div>
    </div>    

    <script>
        const token = window.localStorage.getItem("token");
        const link = document.getElementById("auth");

        if(token != null){
            link.textContent = "logout"
            link.onclick = (e) => {
                e.preventDefault();
                window.localStorage.removeItem("token");
            }
        }else{
            link.textContent = "login"
            link.setAttribute("href", "/auth/login")
        }
    </script>
</body>
</html>