<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./meta.ejs') %>
    <link rel="stylesheet" href="../static/css/admin.css">
    <link rel="stylesheet" href="../static/css/theme.css">

</head>
<body>
    <%- include('./adminNavbar.ejs') %>
    
    <div class="container">
        <div class="title">Analytics</div>
        <div class="cardsWrap">
            <div class="card">
                <p class="title" id="tcars">0</p>
                <p class="sub">Total Cars</p>
            </div>
        </div>
        <div class="title">
            <p>Cars List</p>
            <button class="add" id="add">Add Car</button>
        </div>
        <div class="sc">
            <table class="tab">
            <tr class="row">
                <th class="th">Sno</th>
                <th class="th">Id</th>
                <th class="th">Image</th>
                <th class="th">Name</th>
                <th class="th" style="width: 200px;">Description</th>
                <th class="th">gear type</th>
                <th class="th">Fuel Capacity</th>
                <th class="th">Seating</th>
                <th class="th">Luggage Capacity</th>
                <th class="th">Mileage</th>
                <th class="th">Location</th>
                <th class="th">Place</th>
                <th class="th">Fuel Type</th>
                <th class="th">Vendor</th>
                <th class="th">Price</th>
                <th class="th">Action</th>
            </tr>
        </table>
        </div>
    </div>
    <div class="popup">
        <p class="title">ADD NEW CAR</p>
        <form class="inner" id="form">
            <button class="cls" type="button">Close</button>
            <input type="text" name="brand" class="inp" placeholder="Car brand">
            <input type="text" name="desc" class="inp" placeholder="Car Description">
            <input type="file" name="upload" class="inp" placeholder="upload Image">
            <input type="text" class="inp" name="gear" placeholder="Gear type">
            <input type="text" class="inp" name="fuel" placeholder="Fuel Capacity in lts">
            <input type="number" class="inp" name="seating" placeholder="Seating Capacity">
            <input type="text" class="inp" name="luggage" placeholder="Luggage Capacity">
            <input type="text" class="inp" name="mileage" placeholder="Mileage">
            <input type="text" class="inp" name="location" placeholder="Location">
            <input type="text" class="inp" name="place" placeholder="place">
            <input type="text" class="inp" name="fueltype" placeholder="Fuel Type">
            <input type="text" class="inp" name="vendor" placeholder="Vendor Email">
            <input type="text" class="inp" name="price" placeholder="Amount">
            <button class="sbt" id="sbt">Submit</button>
        </form>
    </div>

    <script>
        const form = document.getElementById("form");
        const btn = document.getElementById("sbt");
        const add = document.getElementById("add");
        // const close = document.getElementsByClassName("cls")[0];
        const popup = document.getElementsByClassName("popup")[0];
        const table = document.getElementsByClassName("tab")[0];

        const update = (i) => {
            const card = document.querySelectorAll(".row")[i+1];
            const inps = card.querySelectorAll(".inpt");
            const id = card.getElementsByClassName(`id${i}`)[0].textContent;
            const body = { 
                brand: inps[0].value, 
                desc: inps[1].value, 
                gear: inps[2].value, 
                fuel:inps[3].value, 
                seating:inps[4].value, 
                luggage:inps[5].value, 
                mileage:inps[6].value, 
                location: inps[7].value, 
                place: inps[8].value, 
                fueltype:inps[9].value, 
                vendor:inps[10].value, 
                amount: inps[11].value, 
            }
            fetch(`/admin/updateCar/${id}`, {
                method: 'PATCH',
                headers: {
                'Accept': 'application/json',
                'token':window.localStorage.getItem("token"),
                'Content-Type': 'application/json'
                },
                body: JSON.stringify(body)
            }).then((res) => res.json().then((data) => {
                const msg = document.createElement("div");
                const body = document.getElementsByTagName("body")[0];
                msg.classList.add("msg");
                msg.textContent = data.msg;
                body.appendChild(msg);
                setTimeout(() => {
                    body.removeChild(msg)
                    window.location.href = "/adminpanel"
                }, 500);
            }))
        }

        fetch("/admin/allCarsAdmin", {
            headers: {
                "token": localStorage.getItem("token")
            }
        }).then(res => res.json().then(data => {
            if(res.status === 403){
                window.location.href = data.msg;
            }
            document.getElementById("tcars").textContent = data.cars.length;
            data?.cars.forEach((car, i) => {
                const row = document.createElement("tr");
                row.classList.add("row");
                row.classList.add(i);
                let elem = `<td class="td">${i+1}</td>
                            <td class="td id${i}" id="id${i}">${car._id}</td>
                            <td class="td">
                                <button class="del upd">
                                    <a href="${car.image}" style="color: white; text-decoration: none">Show</a>
                                </button>    
                                <input type="file" class="none" id="aadhaar${i}" name="aadhaar${i}" onchange="uploadHandler(this, ${i})" /><label for="aadhaar${i}" style="margin-top:10px; display:block" class="del updt">Upload</label>
                            </td>
                            <td class="td"><input class="inpt" value="${car.brand}" style="background:transparent; width:100px; border:none; color: white; font-family: poppins; text-align:center" /></td>
                            <td class="td"><textarea class="inpt" style="background:transparent; width:100%; height: 100%; border:none; color: white; font-family: poppins; text-align:center; font-size: 12px">${car.desc}</textarea></td>
                            <td class="td"><input class="inpt" value="${car.geartype}" style="background:transparent; width:100px; border:none; color: white; font-family: poppins; text-align:center" /></td>
                            <td class="td"><input class="inpt" value="${car.fuelcap}" style="background:transparent; width:100px; border:none; color: white; font-family: poppins; text-align:center" /></td>
                            <td class="td"><input class="inpt" value="${car.seating}" style="background:transparent; width:100px; border:none; color: white; font-family: poppins; text-align:center" /></td>
                            <td class="td"><input class="inpt" value="${car.luggage}" style="background:transparent; width:100px; border:none; color: white; font-family: poppins; text-align:center" /></td>
                            <td class="td"><input class="inpt" value="${car.mileage}" style="background:transparent; width:100px; border:none; color: white; font-family: poppins; text-align:center" /></td>
                            <td class="td"><input class="inpt" value="${car.location}" style="background:transparent; width:100px; border:none; color: white; font-family: poppins; text-align:center" /></td>
                            <td class="td"><input class="inpt" value="${car.place}" style="background:transparent; width:100px; border:none; color: white; font-family: poppins; text-align:center" /></td>
                            <td class="td"><input class="inpt" value="${car.fueltype}" style="background:transparent; width:100px; border:none; color: white; font-family: poppins; text-align:center" /></td>
                            <td class="td"><input class="inpt" value="${car.vendor}" style="background:transparent; width:100px; border:none; color: white; font-family: poppins; text-align:center" /></td>
                            <td class="td"><input class="inpt" value="${car.amount}" style="background:transparent; width:100px; border:none; color: white; font-family: poppins; text-align:center" /></td>
                            <td class="td">
                                <button class="del upd ${car._id}" onclick="update(${i})">Update</button>
                                <button class="del ${car._id}" onclick="showModal(${i})">Delete</button>
                            </td>`;
                row.innerHTML = elem;
                table.appendChild(row);
            })
        })).catch(e => {
        })

        function fileCatch(img) {
                const file = img["files"][0];
                return new Promise((resolve, reject) => {
                    const reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = () => resolve(reader.result);
                    reader.onerror = reject;
                });
            }

        form.addEventListener("submit", async(e) => {
            e.preventDefault();
            const brand = form["brand"].value;
            const desc = form["desc"].value;
            const upload = form["upload"];
            const gear = form["gear"].value;
            const fuel = form["fuel"].value;
            const luggage = form["luggage"].value;
            const seating = form["seating"].value;
            const mileage = form["mileage"].value;
            const amount = form["price"].value;
            const location = form["location"].value;
            const place = form["place"].value;
            const vendor = form["vendor"].value;
            const fueltype = form["fueltype"].value;
            let data = {
                brand, desc, image: await fileCatch(upload), gear, fuel, location, luggage, mileage, seating, amount, place, fueltype, vendor
            }
            console.log(data)
            await fetch('/admin/uploadCar', {
                method: 'POST',
                headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'token':window.localStorage.getItem("token")
                },
                body: JSON.stringify(data)
            }).then((res) => {
                if(res.status == 200){
                    window.location.href = "/adminpanel/"
                }
            });
            
        })

        add.addEventListener("click", () => {
            popup.style.display = "flex";
        })
        close.addEventListener("click", () => {
            popup.style.display = "none";
        })

        const showModal = (i) => {
            const modal = document.createElement("div");
            modal.classList.add("modal");
            modal.innerHTML = `<div class="mcard">
                    <h2 class="title">Are you sure to delete the record?</h2>
                    <div class="wrap">
                        <button class="btn" onclick="(() => {document.getElementsByClassName('modal')[0].style.display = 'none'})()">Cancel</button>
                        <button class="btn del" onclick="deleteHandler(${i})">Move to Trash</button>
                    </div>
                </div>`
            document.getElementsByTagName("body")[0].appendChild(modal);
        }

        const deleteHandler = (i) => {
            const id = document.getElementById(`id${i}`).textContent;
            fetch(`/admin/delete/${id}`, {
                method: "delete",
                headers:{
                    'token': window.localStorage.getItem("token")
                }
            }).then(res => res.json().then(data => {
                window.location.href = "/adminpanel"
            }))
        }

        const uploadHandler = async(e, i ) => {
            const card = document.querySelectorAll(".row")[i+1];
            const id = card.getElementsByClassName(`id${i}`)[0].textContent;
            let file = new Promise((resolve, reject) => {
                const reader = new FileReader();
                reader.readAsDataURL(e["files"][0]);
                reader.onload = () => resolve(reader.result);
                reader.onerror = reject;
            });
            let body = {
                "file": await file,
            }

            fetch(`/admin/updateImg/${id}`, {
                method: 'PATCH',
                headers: {
                'Accept': 'application/json',
                'token':window.localStorage.getItem("token"),
                'Content-Type': 'application/json'
                },
                body: JSON.stringify(body)
            }).then((res) => res.json().then((data) => {
                window.location.href = "/adminpanel"
            }))
        }
    </script>
</body>
</html>