<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./meta.ejs') %>

    <link rel="stylesheet" href="../static/css/book.css">
    <link rel="stylesheet" href="../static/css/theme.css">

</head>
<body>
    <%- include('./navbar.ejs') %>
    <div class="container">
        <h2 class="title">Your Bookings</h2>
        <div id="cont"></div>
        <div class="modal">
            
        </div>
        <div class="wrapCards">

        </div>
    </div>
    <script>
        let merchant = "<%- merchant %>"
        const container = document.getElementsByClassName("wrapCards")[0]
        fetch("/booking/get", {
            headers: {
                token: window.localStorage.getItem("token")
            }
        }).then(res => res.json().then(data => {
            if(res.status == 200){
                if(!data.status){
                    const warn = document.createElement("div");
                    warn.classList.add("strip");
                    warn.innerHTML = `<p class="title tstrip">
                            <ion-icon name="warning-outline"></ion-icon>
                            KYC Verification Pending
                        </p>
                        <p class="sub">Inorder to rent the car, you need to perform full kyc Verification by going to the RK beach hub and submit the details.(Only for new users)</p>`
                    document.getElementById("cont").appendChild(warn)
                }
                data.data.map((recipt) => {
                    let card = document.createElement("div");
                    let elem = `
                            <div class="ticket">
                                <div class="sec1">
                                    <div class="division">
                                        <div class="dates">
                                            <p class="dt">${recipt.booking.startDate}</p>
                                            <div class="line"></div>
                                            <p class="dt">${recipt.booking.dropDate}</p>
                                        </div>
                                        <div class="subSec">
                                            <img src="${recipt.car.image}" alt="" class="img">
                                            <div class="wrap" style="width:max-content">
                                                <div class="brand">${recipt.car.brand}</div>
                                                <p class="cname" style="font-size:9px; font-family:poppins">id: ${recipt.booking._id}</p>
                                                <div class="tags">
                                                    <div class="tag">${recipt.car.geartype}</div>
                                                    <div class="tag">${recipt.car.location}</div>
                                                    <div class="tag">Seats: ${recipt.car.seating}</div>
                                                    <div class="tag">${recipt.car.mileage}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d2">
                                        <div class="uname">${recipt.booking.userId}</div>
                                        <div class="wrap">
                                            <p class="cname">Time of booking</p>
                                            <div class="line"></div>
                                            <p class="val">${recipt.booking.time}</p>
                                        </div>
                                        <div class="wrap">
                                            <p class="cname">Payment status</p>
                                            <div class="line"></div>
                                            <p class="val">${recipt.booking.paymentStatus}</p>
                                        </div>
                                        <div class="wrap">
                                            <p class="cname">Total Cost (incld GST)</p>
                                            <div class="line"></div>
                                            <p class="val">${recipt.booking.price}/-</p>
                                        </div>
                                    </div>  
                                </div>
                                <div class="sec2">
                                    <div class="inner">
                                        Booked
                                    </div>
                                </div>
                            </div>
                            
                        `;
                    card.innerHTML = elem
                    container.appendChild(card)
                })
            }else{
                let elem = `<div style="display:flex; justify-content:center; align-items:center; flex-direction:column">
                    <h2 class="title" style="text-align:center">No Bookings Available</h2>
                    <a class="sub">Having any issue with bookings?</a>
                    <a href="mailto:sidhardhchandra141@gmail.com, dreamcarsvizag@gmail.com" class="rdt">Contact Us</a></div>
                    `
                container.innerHTML = elem;
            }
        }))
        </script>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N6RF5QPQ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

</body>
</html>

<!-- <a href="upi://pay?pa=${merchant}@paytm&pn=%20&tr=%20&am=${parseInt(recipt.booking.price)}&cu=INR" class="btn">Pay using UPI</a> -->
<!-- <div class="btns">
    ${
        recipt.booking.paymentStatus != "paid" ? `<button class="btn">Pay using UPI</button>` : ""
    }
    <button class="btn del">Cancel Booking</button>
</div> -->