<!DOCTYPE html>
<html>
<head>
  <title>PhonePe Checkout Example</title>
  <script src="https://mercury.phonepe.com/web/bundle/checkout.js"></script>
</head>
<body>
  <h1>PhonePe Checkout</h1>
  <button onclick="initiatePayment()">Pay </button>

  <script>
    async function initiatePayment() {
      try {
        const response = await fetch('/pay', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
        },
        });

        if (response.ok) {
        const { tokenUrl } = await response.json();
        console.log(tokenUrl)

        const callback = (response) => {
            if (response === 'USER_CANCEL') {
            console.log('Payment cancelled by user');
            } else if (response === 'CONCLUDED') {
            console.log('Payment process concluded');
            }
        };

        window.PhonePeCheckout.transact({ tokenUrl, callback, type: 'IFRAME' });
        } else {
            console.error('Error obtaining tokenUrl:', response.status);
            }
        } catch (error) {
            console.error('Error initiating payment:', error);
        }
    }
  </script>
</body>
</html>