<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Chelo Ride</title>
</head>
<body>
    <div class="container">
        <%- include('./navbar.ejs') %>
        <div class="formContainer">
            <h2 class="title">Chelo <span style="color: yellowgreen;">Ride</span></h2>
            <h4 class="sub">Explore limitless possibilities with our comprehensive car rental services! From compact cars to spacious SUVs, we offer a diverse fleet for your every need. Book car by selecting time and date below</h4>
            <div class="opacityMask"></div>
            <form action="/cars" method="post" class="form">
                <div style="display: flex; gap: 20px;">
                    <div class="wrap">
                        <label for="" class="lab">Location</label>
                        <select type="text" name="location" id="location" placeholder="Select location" required>
                            <% locations?.forEach(function(loc, i, entries){ %>
                                <option class="lelm"><%= loc.toUpperCase() %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="wrap">
                        <label for="" class="lab">Pickup Date</label>
                        <input type="date" name="date" id="pdate" required/>
                    </div>
                    <div class="wrap">
                        <label for="" class="lab">Pickup Time</label>
                        <input type="time" name="time" id="time"  max="22:00" placeholder="10:10 am" required>
                    </div>
                    <div class="wrap">
                        <label for="" class="lab">Drop Date</label>
                        <input type="date" name="ddate" id="ddate" required>
                    </div>
                    <div class="wrap">
                        <label for="" class="lab">Drop Time</label>
                        <input type="time" name="dtime" id="dtime"  max="22:00" placeholder="10:10 am" required>
                    </div>
                </div>
                <button type="submit" class="subt" style="display: none;"></button>
            </form>
            <h4 class="sub" style="color: rgb(188, 188, 188); margin-bottom:0; margin-top:10px">Please note that if you want to drop before dropdate or time, kindly contact the executive.</h4>
            <button onclick="subHandler()" class="sbt">Book Now</button>
        </div>
        <div class="icons">
            <div class="wrap">
                <h3 class="wtitle">25,000<span style="font-family: 'Montserrat'; font-weight: bolder;">+</span> Happy Customers</h3>
                <h6 class="wsub">Our dedicated team is proud to have served over 25,000 happy customers, providing top-notch service and satisfaction.</h6>
            </div>
            <div class="wrap">
                <h3 class="wtitle">150<span style="font-family: 'Montserrat'; font-weight: bolder;">+</span> Cars</h3>
                <h6 class="wsub">With a fleet of over 150 cars, we offer a diverse range to meet your transportation needs, ensuring comfort and style.</h6>
            </div>
            <div class="wrap">
                <h3 class="wtitle">10<span style="font-family: 'Montserrat'; font-weight: bolder;">+</span> Years Experience</h3>
                <h6 class="wsub">Bringing more than a decade of experience, we take pride in our expertise, providing reliable services since our establishment.</h6>
            </div>
            <div class="wrap">
                <h3 class="wtitle">300<span style="font-family: 'Montserrat'; font-weight: bolder;">+</span> Drivers</h3>
                <h6 class="wsub">Our team comprises over 300 skilled and licensed drivers, ensuring your safety and a smooth journey every time.</h6>
            </div>
        </div>
        <div class="section">
            <h3 class="stitle">About Our Service</h3>
            <div class="flx">
                <img src="../static/assets/5.jpg" alt="" class="img">
                <ul class="wrap">
                    <li class="lst">
                        <span style="font-weight: 600; color: yellowgreen;">Trailblazing Transportation:</span> Since 2008, Chelo Ride Rentals has led Vizag's transportation scene from Candolim, near the famous Vizag beach.
                    </li>
                    <li class="lst">
                        <span style="font-weight: 600; color: yellowgreen;">Memorable Journeys:</span> Beyond rides, we offer an unforgettable experience with top-notch service, making us the trusted choice for reliable and comfortable travel.
                    </li>
                    <li class="lst">
                        <span style="font-weight: 600; color: yellowgreen;">Your Convenient Choice:</span> Whether you're a tourist exploring Vizag or a local resident, count on Chelo Ride Rentals for hassle-free and safe transportation. Experience excellence with us!
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        const btn = document.getElementsByClassName("subt")[0];
        const form = document.getElementsByClassName("form")[0];
        const list = document.querySelectorAll(".lelm");
        const menuCont = document.getElementsByClassName("menu")[0];
        const loc = document.getElementById("location");
        const pdate = document.getElementById("pdate");
        const ddate = document.getElementById("ddate");

        //past time fixage
        form['time'].addEventListener("focusin", () => {
            var now = new Date();
            if(now.toISOString().split('T')[0] === form['date'].value){
                var hours = now.getHours();
                var minutes = now.getMinutes();
                if (minutes < 10) {
                    minutes = '0' + minutes;
                }
                form['time'].min = hours + ':' + minutes;
            }
        })

        const subHandler = () =>{
            let dateTime = new Date(form['date'].value+"T" + form['time'].value + "Z")
            let dropDateTime = new Date(form['ddate'].value);
            let diff = Math.abs(dropDateTime - dateTime) - 8.64e+7;
            console.log(diff)
            if(diff <= 1.0){
                form['dtime'].value = form['time'].value;
                form['dtime'].setAttribute("disabled", true)
            }else{
                form['dtime'].removeAttribute("disabled", true)
            };
            btn.click()}
        list?.forEach((l) => {
            l.onclick = () => {
                loc.value = l.textContent;
                menuCont.style.display = "none"
            }
        });

        pdate.min = new Date().toISOString().split("T")[0];
        ddate.onfocus = () => {
            let dates = pdate.value.split("-");
            let nextDate = parseInt(dates) <= 8 ? parseInt(dates[2])+2: parseInt(dates[2])+1;
            dates.pop(2); dates.push(nextDate)
            ddate.min = new Date(dates.join("-")).toISOString().split("T")[0];
        }
        
    </script>
</body>
</html>
