<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./meta.ejs') %>

    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/theme.css">
</head>
<body>
    <div class="container">
        <%- include('./navbar.ejs') %>
        <div class="formContainer">
            <h2 class="title">Car <span style="color: var(--main-color);">Rental</span> Services</h2>
            <h4 class="sub">Explore limitless possibilities with our comprehensive car rental services! From compact cars to spacious SUVs, we offer a diverse fleet for your every need. Book car by selecting time and date below</h4>
            <button class="sbt" id="sbt">Book Now</button>
            <div class="row">
                <div class="imgs">
                    <img src="../static/assets/8.jpg" alt="" class="cimg prev">
                    <div class="tag">
                        <p class="tit">Mahindra Thar</p>
                    </div>
                </div>
                <div class="imgs">
                    <img src="../static/assets/3.jpg" alt="" class="cimg">
                    <div class="tag">
                        <p class="tit">Rolls Royce Boat Tail</p>
                    </div>
                </div>
                <div class="imgs">
                    <img src="../static/assets/9.jpg" alt="" class="cimg prev">
                    <div class="tag">
                        <p class="tit">Kia EV9</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup" id="popup">
            <h3 class="title" style="color: white; font-size: 30px; margin-bottom:15px;">Select Location and Service</h3>
            <form id="form" class="form">
                <div style="display: flex; gap: 20px;">
                    <div class="wrap">
                        <label for="" class="lab">City</label>
                        <select type="text" name="place" id="place" placeholder="Select location" required>
                            <% places?.forEach(function(loc, i, entries){ %>
                                <option class="lelm"><%= loc.toUpperCase() %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="wrap">
                        <label for="" class="lab">Service</label>
                        <select type="text" name="service" id="service" placeholder="Select Service" required>
                            <option class="lelm" value="Self">Self Driven</option>
                            <option class="lelm" value="Taxi">Taxi Service (incld Driver charges)</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="sbt"><ion-icon name="calendar-outline" class="ico" style="font-size: 20px;"></ion-icon><br class="ico" />Proceed</button>
            </form>
        </div>
        <div class="icons">
            <div class="wrap">
                <h3 class="wtitle">25,000<span style="font-family: 'Montserrat'; font-weight: bolder;">+</span> Happy Customers</h3>
                <h6 class="wsub">Our dedicated team is proud to have served over 25,000 happy customers, providing top-notch service and satisfaction.</h6>
            </div>
            <div class="wrap">
                <h3 class="wtitle">150<span style="font-family: 'Montserrat'; font-weight: bolder;">+</span> Cars</h3>
                <h6 class="wsub">With a fleet of over 150 cars, we offer a diverse range to meet your transportation needs, ensuring comfort and style.</h6>
            </div>
            <div class="wrap">
                <h3 class="wtitle">10<span style="font-family: 'Montserrat'; font-weight: bolder;">+</span> Years Experience</h3>
                <h6 class="wsub">Bringing more than a decade of experience, we take pride in our expertise, providing reliable services since our establishment.</h6>
            </div>
            <div class="wrap">
                <h3 class="wtitle">300<span style="font-family: 'Montserrat'; font-weight: bolder;">+</span> Drivers</h3>
                <h6 class="wsub">Our team comprises over 300 skilled and licensed drivers, ensuring your safety and a smooth journey every time.</h6>
            </div>
        </div>
        <div class="section">
            <h3 class="stitle">About Our Service</h3>
            <div class="flx">
                <img src="../static/assets/5.jpg" alt="" class="img">
                <ul class="wrap">
                    <li class="lst">
                        <span style="font-weight: 600; color: yellowgreen;">Trailblazing Transportation:</span> Since 2008, Chelo Ride Rentals has led Vizag's transportation scene from Candolim, near the famous Vizag beach.
                    </li>
                    <li class="lst">
                        <span style="font-weight: 600; color: yellowgreen;">Memorable Journeys:</span> Beyond rides, we offer an unforgettable experience with top-notch service, making us the trusted choice for reliable and comfortable travel.
                    </li>
                    <li class="lst">
                        <span style="font-weight: 600; color: yellowgreen;">Your Convenient Choice:</span> Whether you're a tourist exploring Vizag or a local resident, count on Chelo Ride Rentals for hassle-free and safe transportation. Experience excellence with us!
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer">
            <div>
                <div class="title">CheloRide.com</div>
                <div class="sub">Explore limitless possibilities with our comprehensive car rental services. Navigate using below links</div>
                <a href="" class="sub">Developed and Maintained by Sidhardh and Hazrath</a>
            </div>
        </div>
    </div>
    <script>
        const form = document.getElementById("form");
        const btn = document.getElementById("sbt");

        btn.onclick = () => {
            document.getElementById("popup").style.display = "flex";
        }

        form.onsubmit = (e) => {
            const token = window.localStorage.getItem("token");
            if(token == null){form.setAttribute("action", "/auth/login"); form.setAttribute("method", "get")}else{
                form.setAttribute("action", "/cars"); form.setAttribute("method", "post")
            }
        }
    </script>
</body>
</html>
