<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./meta.ejs') %>

    <link rel="stylesheet" href="../static/css/terms.css">
    <link rel="stylesheet" href="../static/css/theme.css">

</head>
<body>
    <%- include('./navbar.ejs') %>
    <div class="container">
        <div class="bg">
            <a href="/" style="text-decoration: none;">
                 <h3 class="subtit" style="color: white;">
                <ion-icon name="chevron-back-outline"></ion-icon>
                Back</h3>
            </a>
            <div class="row">
                <img src="../static/assets/promot.jpeg" alt="" class="banner">
                <form class="col" action="/join-request" method="post">
                    <div class="title" style="margin-bottom: 10px;">Join Us</div>
                    <div class="sub">
                        Do you have a car that you don't use often? Do you want to find a car to rent for your next trip or occasion? If you answered yes to either of these questions, then you should join our car rental community and enjoy the benefits of sharing your car with others.
                        <br>
                        <span style="color: var(--main-color);">Join our car rental community today</span> and discover the benefits of sharing your car with others. It's easy, safe, and fun. Register now and start your car rental journey. 🚗
                    </div>
                    <label for="">Send Your Mail</label>
                    <input type="text" name="email" id="email" placeholder="example@exp.com" class="inp">
                    <button class="sbt" type="submit">Join Us</button>
                </form>
            </div>
        </div>
    </div>

    <script>
    </script>
</body>
</html>