<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./meta.ejs') %>

    <link rel="stylesheet" href="../static/css/terms.css">
    <link rel="stylesheet" href="../static/css/theme.css">

</head>
<body>
    <%- include('./navbar.ejs') %>
    <div class="container">
        <div class="bg">
            <a href="/" style="text-decoration: none;">
                 <h3 class="title">
                <ion-icon name="chevron-back-outline"></ion-icon>
                Join Us</h3>
            </a>
            
        </div>
    </div>

    <script>
    </script>
</body>
</html>