<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./meta.ejs') %>

    <link rel="stylesheet" href="../static/css/register.css">
    <link rel="stylesheet" href="../static/css/theme.css">

</head>
<body>
    <%- include('./navbar.ejs') %>
    <div class="container">
        <div class="opWrap"></div>
        <h3 class="title">CHELORIDE - Login</h3>
        <form id="formElm" class="form">
            <div class="wrap">
                <label for="">Email</label>
                <input type="text" class="inp" name="email" id="email">
                <p class="msg" id="msg"></p>
            </div>
            <div class="wrap">
                <label for="">Password</label>
                <input type="text" class="inp" name="password">
            </div>
            <button class="btn" type="submit">Submit</button>
            <a href="/auth/register" class="link">Not having an account? Register</a>
            <a href="/auth/checkMail" class="link" style="margin-top:3px ;">Forgot Password?</a>
        </form>
    </div>
    <script>
        const btn = document.getElementsByClassName("btn")[0]
        const msg = document.getElementById("msg")
        const emailElem = document.getElementById("email")
        const formElm = document.getElementById("formElm");
        const container = document.getElementsByClassName("container")[0];
        formElm.onsubmit = async(e) => {
            try {
                e.preventDefault();
                btn.innerHTML = '<div class="circle"></div>';
                msg.textContent = ""
                const email = formElm["email"].value;
                const password = formElm["password"].value;
                if(email == "" || password == ""){
                     btn.innerHTML = "Submit"
                    msg.textContent = "*Please fill details";
                }else{
                    btn.setAttribute("disabled", true);
                    btn.style.background = "rgb(151, 99, 2)"
                    const data = {email, password}
                    fetch("/auth/login", {
                        method: 'POST',
                        headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    }).then((res) => {
                        btn.removeAttribute("disabled");
                        btn.style.background = "orange"
                        res.json().then((d) => {
                            msg.textContent = d.msg;
                            btn.innerHTML = "Submit"
                            if(res.status === 200){
                                msg.style.color = "white"
                                if(d?.token != null){
                                    localStorage.setItem("token", d.token)
                                }
                                if(sessionStorage.getItem("date") != null){
                                    var form = document.createElement("form");
                                    form.action = "/cars";
                                    form.method = "post";
                                    var place = sessionStorage.getItem("place");
                                    var service = sessionStorage.getItem("service");
                                    var input1 = document.createElement("input");
                                    input1.name = "place";
                                    input1.value = place;
                                    input1.type = "hidden"; 
                                    var input2 = document.createElement("input");
                                    input2.name = "service";
                                    input2.value = service;
                                    input2.type = "hidden"; 
                                    form.appendChild(input1);
                                    form.appendChild(input2);
                                    document.body.appendChild(form);
                                    form.submit();
                                                                    
                                }else{
                                    window.location.href=`/`
                                }
                            }else{
                                emailElem.classList.add("warn");
                            }
                        })
                    })
                }
            } catch (error) {
                msg.textContent = "Invalid Credintials";
                btn.innerHTML = "Submit"
            }
        }
    </script>

    
</body>
</html>