<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maintanance</title>
</head>
<body>
    <div style='width: 100%; height:100vh; display: flex; flex-direction:column; justify-content:center; font-family: sans-serif; align-items:center'><h1 style="
    margin-bottom: 0;">Website is Down for maintanance</h1></div>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N6RF5QPQ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

</body>
</html>