<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./meta.ejs') %>
    <link rel="stylesheet" href="../static/css/admin.css">
    <link rel="stylesheet" href="../static/css/theme.css">

</head>
<body>
    <%- include('./navbar.ejs') %>
    
    <div class="container">
        <div class="title" style="display: flex; flex-direction:column">
            <p style="font-size: 30px">Our Taxi Offerings</p>
            <p class="sub" style="font-size: 12px; text-transform: lowercase; font-family: poppins;">WE COVER ALL THE TOURIST LOCATIONS AND DEVOTIONAL PLACES AT VISAKHAPATNAM IN THE PACKAGE TRIPS</p>
        </div>
        <div class="wrapper-table">
            <div class="title">
                <p>Holiday Packages</p>
            </div>
            <div class="sc">
                <table class="tab">
                    <tr class="row">
                        <th class="th">Package type</th>
                        <th class="th">Seating</th>
                        <th class="th">Pricing</th>
                    </tr>
                    <tr class="row">
                        <td class="td">Local Sight seeing</td>
                        <td class="td">5 Seats</td>
                        <td class="td">4500/-</td>
                    </tr>
                    <tr class="row">
                        <td class="td">Local Sight seeing</td>
                        <td class="td">7 Seats</td>
                        <td class="td">6000/-</td>
                    </tr>
                    <tr class="row">
                        <td class="td">Araku Holiday Package</td>
                        <td class="td">5 Seats</td>
                        <td class="td">6000/-</td>
                    </tr>
                    <tr class="row">
                        <td class="td">Araku Holiday Package</td>
                        <td class="td">7 Seats</td>
                        <td class="td">8000/-</td>
                    </tr>
                    <tr class="row">
                        <td class="td">Lambasingi Holiday Package</td>
                        <td class="td">5 Seats</td>
                        <td class="td">6000/-</td>
                    </tr>
                    <tr class="row">
                        <td class="td">Lambasingi Holiday Package</td>
                        <td class="td">7 Seats</td>
                        <td class="td">8000/-</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="wrapper-table">
            <div class="title">
                <p>Daily Rental Services</p>
            </div>
            <div class="sc">
                <table class="tab">
                    <tr class="row">
                        <th class="th">Seating</th>
                        <th class="th">Distance / Time</th>
                        <th class="th">Pricing</th>
                        <th class="th">Extra Charges</th>
                    </tr>
                    <tr class="row">
                        <td class="td">7 Seats</td>
                        <td class="td">100km/10hrs</td>
                        <td class="td">4000rs</td>
                        <td class="td">19rs</td>
                    </tr>
                    <tr class="row">
                        <td class="td">5 Seats</td>
                        <td class="td">100km/10hrs</td>
                        <td class="td">3000rs</td>
                        <td class="td">14rs</td>
                    </tr>
                </table>
            </div>
        </div>
                <div class="wrapper-table">
            <div class="title">
                <p>Taxi Services</p>
            </div>
            <div class="sc">
                <table class="tab">
                    <tr class="row">
                        <th class="th">Seating</th>
                        <th class="th">Minimum Distance</th>
                        <th class="th">Pricing/Km</th>
                        <th class="th">Waiting charges / hr</th>
                    </tr>
                    <tr class="row">
                        <td class="td">7 Seats</td>
                        <td class="td">300 kms</td>
                        <td class="td">20rs/Km</td>
                        <td class="td">300/hr</td>
                    </tr>
                    <tr class="row">
                        <td class="td">5 Seats</td>
                        <td class="td">300 kms</td>
                        <td class="td">14rs/Km</td>
                        <td class="td">200/hr</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>