<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./meta.ejs') %>

    <link rel="stylesheet" href="../static/css/admin.css">
</head>
<body>
    <%- include('./adminNavbar.ejs') %>
    <div class="container">
        <div class="title">Trash Bin</div>
        <div class="cardsWrap">
        </div>
    </div>
    <script>
        const wrapper = document.getElementsByClassName("cardsWrap")[0];

        fetch("/adminpanel/trashData", {
            headers: {
                "token": localStorage.getItem("token")
            }
        }).then(res => res.json().then(data => {
            if(res.status == 200){
                data.map((trash, i) => {
                    let id = trash.trash._id.toString();
                    let card = document.createElement("div");
                    card.classList.add("tcard");
                    card.classList.add(i)
                    card.innerHTML = `<p class="title" style="margin-top: 0;" id="tbook">Car</p>
                    <p class="sub">Id: ${trash._id}</p>
                    <button class="btn" onclick="showModal(${i})">Restore Item</button>` ;
                    wrapper.appendChild(card)
                })
            }
        }))
        
        const showModal = (i) => {
            const modal = document.createElement("div");
            modal.classList.add("modal");
            modal.innerHTML = `<div class="mcard">
                    <h2 class="title">Are you sure to restore this record?</h2>
                    <div class="wrap">
                        <button class="btn" onclick="(() => {document.getElementsByClassName('modal')[0].style.display = 'none'})()">Cancel</button>
                        <button class="btn grn" onclick="deleteHandler(${i})">Restore</button>
                    </div>
                </div>`
            document.getElementsByTagName("body")[0].appendChild(modal);
        }

        const deleteHandler = (i) => {
            let modalLoader = document.getElementsByClassName("grn")[0];
            modalLoader.innerHTML="<div class='circle' />";
            modalLoader.setAttribute("style", "--after-col: #346dff")
            let card = document.getElementsByClassName("tcard")[i];
            let id = card.getElementsByClassName("sub")[0].textContent.split(":")[1];
            let data = {"trashId":id}
            fetch("/adminpanel/restoreTrash", {
                method: 'POST',
                headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'token': window.localStorage.getItem("token")
                },
                body: JSON.stringify(data)
            }).then(res => res.json().then((data) => {
                if(res.status == 200){
                    const msg = document.createElement("div");
                    const body = document.getElementsByTagName("body")[0];
                    msg.classList.add("msg");
                    msg.textContent = data.msg;
                    body.appendChild(msg);
                    setTimeout(() => {
                        body.removeChild(msg);
                        modalLoader.innerHTML = "Restore"
                        window.location.href = "/adminpanel/trash"
                    }, 2500);
                }
            }))
        }
    </script>
</body>
</html>