<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./meta.ejs') %>

    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body>
    <%- include('./navbar.ejs') %>
    <div class="container">
        <div class="opWrap"></div>
        <h3 class="title">CHELORIDE - Login</h3>
        <form id="formElm" class="form">
            <div class="wrap">
                <label for="">Password</label>
                <input type="text" class="inp" name="password">
            </div>
            <div class="wrap">
                <label for="">Re-enter Password</label>
                <input type="text" class="inp" name= 
                "re-password">
            </div>
            <button class="btn" type="submit">Submit</button>
            <p id="msg" class="msg"></p>
        </form>
    </div>
    <script>
        const btn = document.getElementsByClassName("btn")[0]
        const msg = document.getElementById("msg")
        const formElm = document.getElementById("formElm");
        formElm.onsubmit = async(e) => {
            try {
                e.preventDefault();
                let uri = new URL(window.location)
                let token = uri.searchParams.get("token")
                btn.innerHTML = '<div class="circle"></div>';
                msg.textContent = ""
                const password = formElm["password"].value;
                const repassword = formElm["re-password"].value;
                if(repassword == "" || password == ""){
                    btn.innerHTML = "Submit"
                    msg.textContent = "*Please fill details";
                }else if(repassword != password){
                    btn.innerHTML = "Submit"
                    msg.textContent = "*Passwords did'nt match";
                }else{
                    const data = {password}
                    fetch("/auth/forgetpassword", {
                        method: 'POST',
                        headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'token':token
                        },
                        body: JSON.stringify(data)
                    }).then((res) => {
                        res.json().then((d) => {
                            if(res.status == 200){
                                msg.textContent = d.msg;
                                msg.style.color = "white"
                                btn.innerHTML = "Submit";
                                setTimeout(() => {
                                    window.location.href = "/auth/login";
                                }, 1000)
                            }
                        })
                    })
                }
            } catch (error) {
                msg.textContent = "Server Error";
                btn.innerHTML = "Submit"
            }
        }
    </script>

    
</body>
</html>