<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/admin.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <title>CheloRide</title>
</head>
<body>
    <%- include('./adminNavbar.ejs') %>
    <div class="container">
        <div class="title">User Details</div>
        <div class="cardsWrap">
            <div class="card">
                <p class="title" id="tbook">0</p>
                <p class="sub">Total users</p>
            </div>
        </div>
        <div class="title">
            <p>Users</p>
            <a href="/auth/register" class="add" id="add">Add Users</a>
        </div>
        <table class="tab">
            <tr class="row">
                <th class="th">Sno</th>
                <th class="th">User Id</th>
                <th class="th">Name</th>
                <th class="th" style="width: 200px;">Email</th>
                <th class="th">Phone</th>
                <th class="th">Role</th>
                <th class="th">Aadhaar</th>
                <th class="th">UserType</th>
                <th class="th">Proof</th>
                <th class="th">License</th>
                <th class="th">Kyc Status</th>
                <th class="th">Action</th>
            </tr>
            
        </table>
    </div>
    <script>
        const tab = document.getElementsByClassName("tab")[0];

        const showModal = (i) => {
            const modal = document.createElement("div");
            modal.classList.add("modal");
            modal.innerHTML = `<div class="mcard">
                    <h2 class="title">Are you sure to Update the record?</h2>
                    <div class="wrap">
                        <button class="btn" onclick="(() => {document.getElementsByClassName('modal')[0].style.display = 'none'})()">Cancel</button>
                        <button class="btn grn" onclick="update(${i})">Update Record</button>
                    </div>
                </div>`
            document.getElementsByTagName("body")[0].appendChild(modal);
        }

        const update = (i) => {
            const id = document.getElementsByClassName("upd")[i].classList[2];
            const role = document.getElementsByClassName("location")[i].value;
            const kyc = document.getElementsByClassName("kyc")[i].value;
            const modal = document.getElementsByClassName("modal")[0]
            let body = { "role": role , "kycStatus":kyc}
            fetch(`/adminpanel/updateRole/${id}`, {
                method: 'PATCH',
                headers: {
                'Accept': 'application/json',
                'token':window.localStorage.getItem("token"),
                'Content-Type': 'application/json'
                },
                body: JSON.stringify(body)
            }).then((res) => res.json().then((data) => {
                const msg = document.createElement("div");
                const body = document.getElementsByTagName("body")[0];
                document.getElementsByTagName("body")[0].removeChild(modal)
                msg.classList.add("msg");
                msg.textContent = data.msg;
                body.appendChild(msg);
                setTimeout(() => {
                    body.removeChild(msg)
                }, 2500);
                window.location.href = "/adminpanel/users"
            }))
        }

        fetch("/adminpanel/getUsers", {
            headers:{
                "token": window.localStorage.getItem("token")
            }
        }).then((res) => {
            console.log(res); 
            res.json().then((data) => {
                if(data.data.length > 0){
                    document.getElementById("tbook").textContent = data.data.length
                    data.data.map((user, i) => {
                        console.log(user.idproof != undefined);
                        let newRow = document.createElement("tr");
                        newRow.classList.add("row");
                        // All possible roles
                        let roles = ["Executive", "Admin", "User"];
                        let index = roles.indexOf(user.role);
                        if (index > -1) {
                            roles.splice(index, 1);
                        }
                        roles.unshift(user.role);
                        let options = roles.map(role => `<option class="elem">${role}</option>`).join("");

                        let data = `<td class="td">${i+1}</td>
                        <td class="td">${user._id}</td>
                        <td class="td">${user.username}</td>
                        <td class="td" style="width: 250px;">${user.email}</td>
                        <td class="td">${user.phone}</td>
                        <td class="td">
                            <select type="text" name="location" style="width:100px;" class="location" id="location" placeholder="Select location" required>
                                ${options}
                            </select>
                        </td>
                        <td class="td">
                            ${
                                user.aadhaar != undefined ? `<a href="${user.aadhaar}" class="link" target="_blank" rel="noopener noreferrer">Show</a></td>`: 
                                `<button class="btn">Upload</button>`
                            }
                        <td class="td">${user.idproof?.userType || "Student"}</td>
                        <td class="td">
                            ${
                                user.idproof != undefined ? `<a href="${user.idproof?.proof}" class="link" target="_blank" rel="noopener noreferrer">Show</a></td>`: `<button class="btn">Upload</button>`
                            }
                        <td class="td">
                            ${
                                user.license != undefined ? `<a href="${user.license}" class="link" target="_blank" rel="noopener noreferrer">Show</a></td>`: 
                                `<button class="btn">Upload</button>`
                            }
                        </td>
                        <td class="td">
                            <select id="bookingStatus" class="inp kyc">
                                ${
                                    user.kycStatus == true ? '<option value="false">No KYC</option> <option value="true" selected="selected">KYC Done</option>' : '<option value="false" selected="selected">No KYC</option> <option value="true">KYC Done</option>'
                                    
                                }
                            </select>
                        </td>
                        <td class="td">
                            <button class="del upd ${user._id}" onclick="showModal(${i})">Update</button>
                            <button class="del">Delete</button>
                        </td>`;
                        newRow.innerHTML = data;
                        tab.appendChild(newRow)
                    })
                }
            })
        })

    </script>
</body>
</html>