@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins&display=swap');

@font-face {
    font-family: "integral";
    src: url("../fonts/integral.ttf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: max-content;
    min-height: 100vh;
    background: black;
    padding: 30px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .title{
    font-size: 40px;
    color: white;
    cursor: pointer;
    font-family: "Integral";
}

.container .card{
    width: 50%;
    margin: 20px 0;
    height: max-content;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    color: rgba(192, 192, 192, 0.727);
    font-family: "Montserrat";
    padding: 20px 0;
    background-color: #121212;
}

.container .card .wrap{
    width: max-content;
    padding: 0 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.114);
}

.container .card .wrap:last-child{
    border: none;
}


.container .card .wtitle{
    font-family: "Poppins";
    font-size: 11px;
}

.container .card .wsub{
    font-size: 20px;
    color: white;
    font-weight: lighter;
    margin-top: 5px;
}

.container .slider{
    width: 50%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container .slider .carcard{
    width: 100%;
    height: auto;
    padding: 20px;
    position: relative;
    display: flex;
    background-color: #121212;
    border-radius: 5px;
}


.container .slider .carcard .twrap{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
}

.container .slider .carcard .twrap .col{
    width: 70%;
    height: max-content;
    color: white;
    font-family: "Poppins";
    font-weight: 300;
    padding: 0 15px;
}

.container .slider .carcard .twrap .col .row{
    width: max-content;
    height: max-content;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    font-size: 11px;
}

.container .slider .carcard .twrap .col .row .price{
    width: max-content;
    height: max-content;
    background-color: rgb(53, 53, 53);
    border-radius: 20px;
    padding: 5px 10px;
    border: 2px solid rgb(95, 95, 95);
}

.container .slider .carcard .twrap .col .title{
    font-size: 20px;
}

.container .slider .carcard .twrap .col .ssub{
    font-size: 11px;
    margin-top: 5px;
    color: rgb(190, 190, 190);
}

.container .slider .carcard .img{
    /* width: auto;
    height: 120px; */
    width: 180px;
    height: max-content;
    border-radius: 10px;
}

.container .slider .carcard .twrap .price{
    width: max-content;
    height: 100%;
    color: white;
    font-family: "Poppins";
}

.container .slider .carcard .twrap .price .label{
    font-size: 10px;
    margin-bottom: 10px;
    color: rgb(104, 104, 104);
}

.container .slider .carcard .twrap .price .cost{
    font-family: "Montserrat";
    font-size: 30px;
    color: white;
}

.container .slider .carcard .twrap .price .bbtn{
    width: 100%;
    height: 40px;
    border: none;
    font-family: "Montserrat";
    color: white;
    cursor: pointer;
    font-size: 10px;
    text-transform: uppercase;
    background-color: yellowgreen;
    border-radius: 5px;
}

.container .slider .carcard .twrap .price .bbtn.tm{
    background-color: transparent;
    border: 2px solid rgb(255, 33, 33);
    color: rgb(255, 33, 33);
}

.popup{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.348);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup .inner{
    width: 350px;
    height: max-content;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-family: "Poppins";
    background: rgb(24, 24, 24);
}

.popup .inner .img{
    margin-top: 15px;
    width: 100%;
    border-radius: 10px;
    height: max-content;
}

.popup .inner .title{
    font-size: 20px;
}

.popup .inner div .wrap .grid{
    width: 100%;
    height: max-content;
    display: grid;
    margin-top: 10px;
    /* row-gap: 15px; */
    border-radius: 10px;
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr);
}

.popup .inner div .wrap .grid .subwrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 5px;
    background-color: rgb(36, 36, 36);
    border-right: 1px solid rgb(31, 31, 31);
}

.popup .inner div .wrap .grid .subwrap.nob{
    border: none;
}

.popup .inner div .wrap .grid .subwrap .tit{
    font-size: 9px;
    color: rgb(131, 131, 131);
    text-transform: capitalize;
}
.popup .inner div .wrap .grid .subwrap .sub{
    font-family: "Montserrat";
    margin-top: 5px;
}

.popup .inner div .wrap .btnWrap{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.popup .inner div .wrap .btnWrap .bbtn{
    width: max-content;
    height: 35px;
    border: 2px solid rgb(63, 63, 63);
    padding:0 25px;
    border-radius: 10px;
    font-family: "Montserrat";
    font-size: 12px;
    color: rgb(227, 227, 227);
    cursor: pointer;
    background-color: rgb(44, 44, 44);
}

.popup .inner div .wrap .btnWrap .bbtn.idbtn{
    background: yellowgreen;
    border: 2px solid yellowgreen;
    color: white;
}

.mb{
    margin-top: 10px;
    display: none;
}

.container .slider .carcard .twrap .price .bbtn.outer{
    border: 2px solid yellowgreen;
    color: yellowgreen;
    background: transparent;
}

@media only screen and (max-width: 600px) {

    .mb{
        margin: 0;
        display: block;
    }
    .container .card{
        width: 100%;
        display: grid;
        row-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    .container .slider .carcard{
        flex-direction: column;
        width: 100%;
    }

    .container .slider .carcard .img{
        width: 100%;
        height: max-content;
    }

    .container .slider .carcard .twrap{
        flex-direction: column;
    }

    .container .slider .carcard .twrap .col{
        width: 100%;
        padding: 0;
        margin: 10px 0;
    }

    .container .slider .carcard .twrap .price.pmb{
        width: 100%;
        height: max-content;
    }

    .container .slider .carcard .twrap .price.pmb div{
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-direction: row-reverse;
    }

    .container .slider .carcard .twrap .price.pmb div .cost{
        font-size: 15px;
    }

    .container .card .wrap{
        border: none;
    }

    .container .slider{
        width: 100%;
    }
    .popup .inner .img,
    .popup .inner{
        width: 100%;
        margin-top: 50px
    }
    .inner div .wrap .grid{
        flex-direction: row;
    }
}