@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Pixelify+Sans&family=Poppins&display=swap');

@font-face {
    font-family: "integral";
    src: url("../fonts/integral.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: max-content;
    background: var(--bg-color);
}

.formContainer .rowt .card {
    width: 300px;
    height: max-content;
    overflow: hidden;
    border-radius: 10px;
    gap: 20px;
    color: orange;
    background-color: rgb(46, 46, 46);
    padding: 5px;
}

.formContainer .rowt .card .sub {
    padding: 5px 10px;
    width: 100%;
    border-radius: 10px;
    /* background-color: rgba(255, 166, 0, 0.223); */
    color: orange;
    backdrop-filter: blur(20px);
    margin-bottom: 10px;
}

.formContainer .rowt .card .sbt {
    background-color: transparent;
    width: 100%;
    margin-top: 10px;
    border: orange 2px solid;
    border-radius: 10px;
}

.formContainer .rowt .card .cimg {
    border-radius: 10px;
    width: 100%;
    height: max-content;
}

.formContainer{
    width: 100%;
        height: max-content;
        padding-top: 90px;
        background-color: rgb(0, 0, 0);
        display: flex;
        background: rgb(0, 0, 0);
        background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgb(70, 34, 0) 0%, rgba(0, 0, 0, 1) 100%);
        background: url("../assets/2.jpg");
        background-size: cover;
        background-position: center;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        justify-content: center;
        position: relative;
        font-family: Poppins;
        color: var(--txt);
}

.form{
    width: max-content;
    height: max-content;
    background-color: rgb(231, 231, 231);
    position: relative;
    z-index: 3;
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    color: var(--bg-color);
}
.opacityMask{
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.278);
    position: absolute;
    top: 0;
    left: 0;
}

.formContainer .sbt{
    width: 140px;
    padding: 10px 0;
    z-index: 3;
    text-decoration: none;
    font-size: 11px;
    background-color:var(--main-color);
    color: var(--txt);
    font-family: "integral";
    border: none;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 5px;
}
.sbt {
    width: max-content;
    padding: 0 10px;
    z-index: 3;
    text-decoration: none;
    font-size: 11px;
    background-color: var(--main-color);
    color: var(--txt);
    font-family: "integral";
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.formContainer .row{
    width: 100%;
    height: max-content;
    display: grid;
   padding: 0 20px; 
    gap: 20px;
    align-items: center;
    grid-template-columns: 0.65fr 1fr 0.65fr;
}

.imgs{
    width: 100%;
    height: max-content;
    margin-top: 20px;
    z-index: 2;
    position: relative;
    border-radius: 10px;
    overflow: none;
}

.tag{
    width: max-content;
    height: max-content;
    padding: 10px 15px;
    background-color: rgb(234, 234, 234);
    position: absolute;
    bottom: 10px;
    left: 5px;
    font-size: 12px;
    color: black;
    border-radius: 10px;
}

/* .formContainer::before{
    content: "";
    width: 100%;
    height: 200px;
    background-color: rgb(189, 123, 0);
    background: linear-gradient(to top, #bd7b00, #8e5d00, transparent);
    position: absolute;
    bottom: 0;
    left: 0;
} */

.imgs .cimg{
    width: 100%;
    border-radius: 10px;
    height: auto;
    border: 2px solid rgb(124, 124, 124);
}

.imgs .cimg.prev{
    width: 100%;
    height: max-content;
    background-color: black;
}

.form .wrap{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.popup{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.599);
}

.form .wrap .menu{
    width: max-content;
    height: max-content;
    padding: 10px 0;
    background: var(--sec-bg);
    border-radius: 10px;
    color: var(--txt);
    position: absolute;
    top: 60px;
    display: none;
    font-family: "Poppins";
    font-size: 12px;
    z-index: 2;
}

.form .wrap #location:hover ~ .menu, .form .wrap .menu:hover{
    display: block;
}

.form .wrap .menu .lelm{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: capitalize;
    padding: 0 15px;
    border-radius: 5px;
}

.form .wrap .menu .lelm:hover{
    background: rgb(66, 66, 66);
    cursor: pointer;
}

.lab{
    font-family: "Poppins";
    font-size: 12px;
}

.wrap input, select{
    width: 140px;
    height: 35px;
    border-radius: 9px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(30, 30, 30, 0.215);
}

.formContainer .title, .formContainer .sub{
    z-index: 3;
}

.title{
    font-family: "Integral";
    font-size: 60px;
    text-align: center;
}

.formContainer .sub{
    width: 40%;
    font-size: 13.4px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
}
.icons{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--bg-color);
    /* background: rgb(107, 255,
        193);
        */
    background: rgb(189, 123, 0);
    padding: 50px 30px;
    text-align: center;
    color: white;
}

.icons .wrap .wtitle{
    font-family: "Integral";
    font-size: 15px;
    margin-bottom: 10px;
}

.icons .wrap{
    width: 300px;
}

.icons .wrap .wsub{
    font-family: "Poppins";
    font-size: 10px;
    font-weight: 300;
}
.section{
    width: 100%;
    height: max-content;
    padding: 30px;
    background-color: var(--bg-color);
}
.section .stitle{
    font-family: "Integral";
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--txt);
}

.section .flx{
    width: 100%;
    height: max-content;
    display: flex;
    gap: 40px;
}

.section .flx .img{
    width: 50%;
    height: auto;
    border-radius: 5px;
}

.section .flx .banner{
    width: auto;
    height: 400px;
    border-radius: 5px;
}

.flx .wrap{
    width: 50%;
    color: var(--txt);
    font-family: Poppins;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px 0;
}

.footer{
    height: max-content;
    padding: 30px 50px;
    width: 100%;
    background-color: #1b1b1b;
    display: grid;
    justify-content: space-between;
    gap: 60px;
    grid-template-columns: repeat(3, 1fr);
    color: white;
}

.footer .title{
    font-size: 30px;
    text-align: left;
}

.footer .sub{
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
    /* width: 30%; */
    font-family: "Poppins";
}

.footer a.sub{
    color: rgb(178, 178, 255);
    text-decoration: none;
}

.dgr{
    margin-top: 20px;
    padding: 5px 15px;
    font-family: poppins;
    font-size: 12px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 60px;
    left: 20px;
    background: #ffffff40;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

@media only screen and (max-width: 600px){
    .ico{
        display: none;
    }
    .section .flx .banner {
        width: 100%;
        height: auto;
    }
    .footer{
        grid-template-columns: repeat(1, 1fr);
    }
    .mb-none{
        display: none;
    }
    .formContainer{
        height:max-content;
        padding: 40px 0;
        padding-top: 60px;
    }
    .formContainer::before {
        height: 50%;
    }
    .formContainer .title{
        margin-top: 40px;
        font-size: 30px;
    }
    .formContainer .sub{
        width: 84%;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 9px;
    }
    .formContainer .row{
        display: flex;
        margin-top: 20px;
        flex-direction: column;
    }
    .form .sbt{
        width: 100%;
        padding: 10px;
    }
    .formContainer .sbt{
        margin-top: 0;
    }     
    .form div{
        flex-direction: column; 
    }
    .form{
        width: 80%;
        flex-direction: column;
    }
    .form .wrap,
    .wrap input, select{
        width:100%;
    }
    .icons{
        flex-direction: column;
        gap: 30px;
    }
    .section .flx{
        flex-direction: column;
    }
    .section .flx .img,
    .flx .wrap {
        width: 100%;
    }

    .flx .wrap{
        padding: 0;
    }
}