@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Pixelify+Sans&family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins&display=swap');

@font-face {
    font-family: "integral";
    src: url("../fonts/integral.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 30px;
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url("../assets/6.jpg") center;
    background: rgb(17, 17, 17);
    background-size: cover;
    position: relative;
}

.opWrap{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.364);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.title{
    margin-bottom: 10px;
    font-family: "Montserrat";
    color: white;
    font-size: 20px;
    position: relative;
    z-index: 2;
}

.form{
    width: 25%;
    height: max-content;
    padding: 20px;
    position: relative;
    z-index: 2;
    border-radius: 10px;
    background-color: rgb(39, 39, 39);
}

.form .wrap{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    color: rgb(230, 230, 230);
    font-family: "Poppins";
    font-size: 12px;
    margin-bottom: 10px;
}


.lab{
    margin-right: 10px;
}
.white{
    color: #111;
}

.wrap .inp{
    width: 100%;
    height: 30px;
    border: none;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    padding: 10px;
    margin-top: 4px;
}

.wrap .inp.second{
    white-space: nowrap;
    word-wrap: nowrap;
    overflow: hidden;
}


.form .btn{
    width: 100%;
    height: 35px;
    background-color: yellowgreen;
    margin-top: 10px;
    font-family: "integral";
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg{
    width: max-content;
    height: max-content;
    color: rgb(255, 96, 96);
    font-family: "Poppins";
    z-index: 6;
    width: 100%;
    word-wrap: break-word;
    margin-top: 10px;
    font-size: 12px;
}
.wrap .inp.warn{
    border: 2px solid red;
    background-color: rgba(255, 104, 104, 0.333);
    color: rgb(255, 190, 190);
}

.link{
    margin-top: 15px;
    display: block;
    font-family: "Poppins";
    color: rgb(108, 216, 0);
    text-decoration: none;
    font-size: 11px;
}

.circle{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    position: relative;
    background: conic-gradient(white 0deg, white 270deg, transparent 270deg, transparent 360deg);
    animation: loading 0.3s ease infinite;
}

@keyframes loading {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

.circle::before{
    content: "";
    width: 18px;
    height: 18px;
    background-color: yellowgreen;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.none{
    display: none;
}


.steps{
    width: 25%;
    height: max-content;
    position: relative;
    z-index: 2;
    border-radius: 25px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
    color: rgba(255, 255, 255, 0.944);
    font-family: "Poppins";
    background-color: rgb(39, 39, 39);
}

.steps .load{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    border-radius: 20px;
    height: 100%;
    transition: all 0.3s ease;
    background-color: rgb(78, 117, 0);
}

.wrap .wrap{
    width: 100%;
    display: flex;
}


.steps .txt{
    width: 50%;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 11px;
    position: relative;
    z-index: 3;
    text-align: center;
}

.steps .txt.b1{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid rgb(39, 39, 39);
}

.wrap .inp.sub{
    background-color: rgb(162, 255, 167);
    border: 2px solid rgb(0, 218, 0);
}

@media only screen and (max-width: 600px) {
    .form, .steps{
        width: 100%;
    }
}